<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/style.css}" href="../../static/css/Style.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<h1>Składniki</h1>

<table class="tg">
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Kcal</td>
    </tr>
    <tr th:each="ingredient: ${ingredients}">
        <td th:text="${ingredient.id}"/>
        <td th:text="${ingredient.ingredientName}"/>
        <td th:text="${ingredient.kcal}"/>
    </tr>
</table>
<a th:href="@{hello}">Back</a>
<a th:href="@{addIngredient}">Add Ingredient</a>

</body>
</html>