<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>recipeDetails</title>

    <link th:href="@{css/style.css}" href="../../static/css/Style.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<h1><span th:text="${recipes.recipeName}"/></h1>

<span th:text="${recipes.recipeDescription}"/><br/>
<span th:text="${recipes.preparationTime}"/> Minutes <br/>
Cusine:<span th:text="${recipes.cusine.name}"/><br/>
<table>
    <tr>Ingredients</tr>
    <tr th:each="ingredient : ${ingredients}">

        <td th:text="${ingredient.ingredientName}"/>

    </tr>
    <br/>
</table>
Preparation:<br/>
<span th:text="${recipes.preparation}"/><br/>

<a th:href="@{recipes}">Back</a>

</body>
</html>