<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/style.css}" href="../../static/css/Style.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<h1>Edit</h1>
<form th:action="@{/edit}"  method="post">
    <div class="alert alert-primary" role="alert" th:text="${okay}" th:if="${okay}"></div>
    <input type="hidden" th:field="*{user.id}" id="user.id" />
    <input type="hidden" th:field="*{user.userDetails.id}" id="userDetailsId" />
    Name:<input name="firstName" th:field="*{user.userDetails.firstName}"/></br>
    Last Name:<input  name="lastName" th:field="*{user.userDetails.lastName}"/></br>
    Username:<input  name="Username" th:field="*{user.username}"/></br>
    E-mail:<input  name="email" th:field="*{user.email}"/></br>
    Password:<input type="password" name="password"/></br>
    Description:<input  name="description" th:field="*{user.userDetails.description}"/></br>
    After update you will be logged out, log in with the new credentials.
<input type="submit" value="Update">
</form>

</table>
</body>
</html>